* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Space Grotesk", sans-serif;
    background-image: url('img/bg1.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

section {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
  backdrop-filter: blur(4px);
  overflow-y: auto;
}

section main {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

section main img {
  width: 110px;
  border-radius: 50%;
  aspect-ratio: 1;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

section main h2 {
  font-weight: 600;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  font-size: 1.5em;
}

section main a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 12px;
  color: white;
  text-decoration: none;
  border-radius: 12px;
  gap: 15px;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(4px);
  font-weight: 500;
}

section main a:hover {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2)
  );
  color: #111;
  transform: scale(1.03);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

section main a i {
  font-size: 1.3em;
}

section footer p {
  color: white;
  font-size: 0.75em;
  padding: 25px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

section footer p a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}


